<manifest
    package="com.seck.hzy.lorameterapp"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="2"
    android:versionName="1.20171108">

    <uses-sdk
        android:installLocation="internalOnly"
        android:maxSdkVersion="21"
        android:sharedUserId="android.uid.system"
        android:minSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/pic_seckicon"
        android:name=".LoRaApp.App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoRaApp.lora_activity.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_MeterCsSettingActivity"
            android:label="表参数设置"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_MeterChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CjjCsSettingActivity"
            android:label="采集机参数设置"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_MeterChooseActivity"
            android:label="表端功能选择"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CjjChooseActivity"
            android:label="采集机端功能选择"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.utils.BlueToothActivity"
            android:label="蓝牙连接"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.MeterStyleActivity"
            android:label="表类型选择"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_MeterGetDataActivity"
            android:label="抄表"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_MeterChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_GprsSettingActivity"
            android:label="GPRS参数设置"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjCsSettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CjjGetDataActivity"
            android:label="采集机抄表"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CjjAboutActivity"
            android:label="采集机相关功能设置"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_LoRaSettingActivity"
            android:label="LoRa相关功能设置"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_UploadActivity"
            android:label="升级程序"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_BluetoothUtilsActivity"
            android:label="蓝牙工具"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_Meter485TestActivity"
            android:label="宜春表测试"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_MeterChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_SxbChooseActivity"
            android:label="摄像表功能选择"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_SxbGetDataActivity"
            android:label="摄像表点抄"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_SxbChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_XqListActivity"
            android:label="小区列表"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CjjListActivity"
            android:label="楼宇列表"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_XqListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_UserActivity"
            android:label="用户列表"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_UserMsgLoadActivity"
            android:label="用户列表"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_UserActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_LoadCjjMsgActivity"
            android:label="采集机信息导入"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_XqListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity android:name=".LoRaApp.barcode.CaptureActivity"
                  android:label="扫描"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:parentActivityName=".LoRaApp.lora_activity.LoRa_UserMsgLoadActivity"
                  android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_AddXqMsgToDbActivity"
            android:label="采集机信息导入"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_XqListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_XqActivity"
            android:label="小区列表"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_CjjActivity"
            android:label="采集机列表"
            android:parentActivityName=".LoRaApp.p_activity.P_XqActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_MeterActivity"
            android:label="水表列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_CjjActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_PxqActivity"
            android:label="水表列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_PcjjActivity"
            android:label="采集机列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_XqActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_PmeterActivity"
            android:label="水表列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_PcjjActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_CameraTestActivity"
            android:label="测试"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_ChooseActivity"
            android:label="采集机相关"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_IdManager"
            android:label="采集机信息"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_ChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_CjjSettingActivity"
            android:label="采集机设置"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_ChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_CsSettingActivity"
            android:label="参数设置"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_CjjSettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_sysSettingActivity"
            android:label="系统参数设置"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_CjjSettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_stateActivity"
            android:label="状态查询"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_CjjSettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_AddrLoadActivity"
            android:label="地址导入"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_CjjSettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_UploadActivity"
            android:label="程序升级"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.p_activity.P_CjjSettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_GPRSNetActivity"
            android:label="物联网表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_DActrlActivity"
            android:label="档案管理"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_CjjChooseActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_ReadSingleData"
            android:label="读取单个表当前读数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_SetSingleData"
            android:label="设置单个表当前读数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_DActrlActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_SearchSingleData"
            android:label="查询单个表信息"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_DActrlActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_ReplaceSingleData"
            android:label="替换单个表信息"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_DActrlActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_DeleteSingleData"
            android:label="删除单个表信息"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_DActrlActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_AddSingleData"
            android:label="添加单个表信息"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_DActrlActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_XQListActivity"
            android:label="小区列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_LYListActivity"
            android:label="楼宇列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_XQListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_CJJListActivity"
            android:label="采集机列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_LYListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_SBListActivity"
            android:label="水表列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_CJJListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_SBInfoActivity"
            android:label="水表信息"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_SBListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_MeterTestActivity"
            android:label="直读表表参数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_SBControlActivity"
            android:label="通用表表参数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_MeterTestActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_SXBParamSetting"
            android:windowSoftInputMode="stateHidden"
            android:label="摄像表表参数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_MeterTestActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_SXBParamLazySetting"
            android:label="摄像头位置"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_MeterTestActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_OtherCommandsActivity"
            android:label="测试"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_NBReadActivity"
            android:label="通用表读数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_OtherCommandsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_SXBReadActivity"
            android:label="摄像表读数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_OtherCommandsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_DZBReadActivity"
            android:label="电阻表读数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_OtherCommandsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_ComtestActivity"
            android:label="通讯测试"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_OtherCommandsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_Setting1Activity"
            android:label="设置"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_DataSyncActivity"
            android:label="数据同步"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_XQSelectActivity"
            android:label="下载小区信息"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.z_activity.Z_DataSyncActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_GPRSNetActivity"
            android:label="物联网设置"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>

        <activity
            android:name=".LoRaApp.lora_activity.LoRa_SxbCsSetting"
            android:label="摄像表参数"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoRaApp.lora_activity.MenuActivity"/>
        </activity>

        <activity
            android:name=".LoRaApp.lora_activity.LoRa_AddFcXqListActivity"
            android:label="分采小区列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_AddFcCjjListActivity"
            android:label="分采小区列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_AddFcXqListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_AddFcMsgActivity"
            android:label="分采列表"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_AddFcCjjListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_AddFcParamMsgActivity"
            android:label="分采添加"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_AddFcMsgActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_SxbParamShiftSetting"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.Lora_SxbParamLazySetting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.Lora_SxbParamLazySetting"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_SxbChooseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CjjGetPicActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_LoadMeterIdXqListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_LoadMeterIdCjjListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.p_activity.P_LoadMeterIdXqListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.p_activity.P_LoadMeterIdMeterListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.p_activity.P_LoadMeterIdCjjListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.cs_activity.CS_SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_LoadXqListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.MenuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_LoadCjjListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.z_activity.Z_LoadXqListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_LoadMeterListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.z_activity.Z_LoadCjjListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_LoadMeterMsgActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.z_activity.Z_LoadMeterListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.z_activity.Z_LoadXqAddXqActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.z_activity.Z_LoadXqListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_ChangeUserMsg"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName=".LoRaApp.lora_activity.LoRa_UserActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.Lora_TYPTActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.Lora_TYPTtoLYActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CbXqListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CbCjjListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoRaApp.lora_activity.LoRa_CbMeterListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
